/*
 * Insert any additional CSS/SCSS we need.
 */

body { 
    padding-top: 70px; // Padding for the fixed navbar
    padding-bottom: 30px; // Keep buttons off the bottom of the page
}

.page-header {
    margin-top: 0; // Too big without this
}
